VITE_HOTEL_API_URL=http://localhost:8080/api

POSTGRES_USER=hotelos
POSTGRES_PASSWORD=hotelos123
POSTGRES_DB=hotelos
POSTGRES_PORT=5432

RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
